[Unit]
Description=Gunicorn instance to serve Flask Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/app
Environment="PATH=/app/venv/bin"
ExecStart=/app/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target